**/.DS_Store
**/__pycache__
**/*.out
**/*.o
**/*.ipynb_checkpoints/
**/*.virtual_documents
**/*.RData
**/*.Rhistory
**/*.gz
**/*.aux
**/*.fdb_latexmk
**/*.tsv
**/*.txt
**/.env
**/.pgm
**/.pdf
**/main
**/.zip
**/TIME.*
**/data/*
**/*.pth
**/*.npz
./Introduction_to_AI/aima-python/*
